html,
body {
}
html,
body {
  margin: 0;
  padding: 0;
  background: aliceblue;
  background: #343332;
  font-family: "Open Sans";
}
body > div:first-child {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  > div:first-child {
    min-height: 100vh;
  }
}

body > div:first-child {
}
.container {
  width: 100vw;
  height: 100vh;
}
