.container {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 350px;
  min-height: 250px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: rgba(52, 51, 50, 0.78);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.header {
  background-color: rgb(70, 79, 69);
  min-height: 70px;
  font-size: 16px;
  color: white;
  font-size: 30px;
  font-family: "Open Sans";
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background: white;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
      inset 0 1px 0 0 rgba(255, 255, 255, 0.47);
  }
}

.list {
  display: flex;
}
.item {
  padding: 5px;
  background: steelblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.47);
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
  text-transform: capitalize;
  &:hover {
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
    background: white;
    color: #333;
  }
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
  svg {
    display: block;
    width: 50px;
    height: 50px;
  }
}
.listContainer {
  > div:first-child {
    padding: 5px;
    color: white;
  }
}
