.container {
  height: 180px;
  width: 100vw;
  width: calc(100% - 10px);
  position: absolute;
  bottom: 0;
  background: #343332;
  margin: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  button {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
    background: steelblue;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 3px;
    border-radius: 1px;
  }
}
.timelineContainer {
  position: relative;
  height: 200px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.day {
  background: black;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.controlsBar {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.timeLineSlider {
  height: 50px;
  background: rgb(70, 79, 69);
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.timeLinePeriod {
  background: #343332;
  position: relative;
  height: 100%;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: calc(100% - 6px);
  /* margin-top: 3px; */
  box-sizing: border-box;
  transform: translateY(3px);
  &:hover {
    background: rgba(233, 150, 122, 1);
  }
}
