.container {
  height: 150px;
  width: 100vw;
  width: calc(100% - 10px);
  position: absolute;
  overflow: hidden;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  margin: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  border-radius: 5px;
  box-sizing: border-box;
}
.timelineContainer {
  position: relative;
  height: 200px;
  max-width: 100vw;
  width: 100vw;
}
.day {
  background: black;
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.controlsBar {
  padding: 5px;
}
