.svgMap {
  position: absolute;
}

.politicalPath {
  cursor: pointer;
  &:hover {
    fill: rgba(0, 0, 0, 0.1);
  }
}

.svgMap {
  > g > .politicalPath {
    stroke: #ffa50061;
  }
  > g:last-child > .politicalPath {
    stroke: orange;
  }
}
.label {
  fill: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans";
}
