.svgMap {
  position: absolute;
  text {
    user-select: none;
  }
}

.lastPath {
  cursor: pointer;
  &:hover {
    fill: rgba(0, 0, 0, 0.1);
  }
}

.svgMap {
  > g > .politicalPath {
    stroke: transparent;
  }
  > g:last-child > .politicalPath {
    stroke: brown;
    stroke: black;
    stroke-width: 1px;
  }
}
.label {
  fill: rgba(0, 0, 0, 0.3);
}
.adminPath {
  stroke: rgba(0, 0, 0, 0.2);
  fill: transparent;
}
