.label {
  fill: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.adminPath {
  stroke: rgba(0, 0, 0, 0.2);
  fill: transparent;
}
.politicalPath {
  //fill: rgba(0, 0, 0, 0.03);
  opacity: 1;
  cursor: pointer;
  //transition: opacity 300ms ease-in-out;
  &:hover {
    opacity: 0.5;
    //fill: rgba(0, 0, 0, 0.06);
  }
}

.rasterMap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.svgMap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text {
    user-select: none;
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  }
}

.neighbourhoodPopup {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
}

.infoPanel {
  display: flex;
}

.popupHeader {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background: steelblue;
  text-align: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.infoPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  > div {
    flex: 1;
  }
}
.empty {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.popupStat {
  flex: 1;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  background: aliceblue;
  margin: 5px;
  > div:first-child {
    font-size: 25px;
    font-weight: bold;
  }
}
