.label {
  fill: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.adminPath {
  stroke: rgba(0, 0, 0, 0.2);
  fill: transparent;
}
.politicalPath {
  fill: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  &:hover {
    fill: rgba(0, 0, 0, 0.06);
  }
}

.rasterMap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.svgMap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
