html,
body {
  margin: 0;
  padding: 0;
  background: #343332;
  background: aliceblue;
  font-family: "Open Sans";
}
body > div:first-child {
  min-height: 100vh;
  position: relative;
  > div:first-child {
    min-height: 100vh;
  }
}
